<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Política de Privacidade</title>
    <style>
      body {
        font-family: Arial, sans-serif;
            }
     </style>
</head>
<body>
    <h1>Política de Privacidade</h1>

    <p>Agradecemos por utilizar nossa aplicação. Esta Política de Privacidade descreve como coletamos, usamos, armazenamos e protegemos as informações de voz que você fornece ao utilizar nosso aplicativo. Nossa prioridade é garantir a confidencialidade e a segurança dos seus dados.</p>

    <h2>Coleta e Uso de Dados</h2>

    <p>Nosso aplicativo coleta amostras de áudio que você grava localmente em seu dispositivo Android para fins exclusivos de detecção de patologias. Essas amostras de áudio são enviadas para nossa aplicação em um servidor Flask para processamento. Apenas as amostras de áudio necessárias para realizar a detecção são transmitidas. Não coletamos, armazenamos ou utilizamos as amostras de áudio para qualquer outro propósito além da detecção de patologias.</p>

    <h2>Anonimato dos Dados</h2>

    <p>Garantimos que todas as amostras de áudio enviadas para nossa aplicação Flask são tratadas de forma anônima. Não coletamos informações pessoalmente identificáveis ​​ou dados de localização relacionados às amostras de áudio. Apenas a aplicação Flask em nosso servidor tem acesso aos dados enviados para fins de processamento.</p>

    <h2>Compartilhamento de Dados</h2>

    <p>Não compartilhamos suas informações de voz com terceiros, a menos que seja exigido por lei ou por um processo legal válido. Estamos comprometidos em proteger a privacidade dos usuários e em cumprir todas as leis e regulamentações aplicáveis ​​relacionadas à proteção de dados.</p>

    <h2>Armazenamento de Dados</h2>

    <p>As amostras de áudio enviadas para nossa aplicação Flask são armazenadas em nosso servidor por um período limitado de tempo. Após o processamento e a detecção de patologias, as amostras de áudio são excluídas permanentemente. Não armazenamos as amostras de áudio em nosso servidor ou em qualquer outro local após a conclusão do processo de detecção.</p>

    <h2>Segurança de Dados</h2>

    <p>Tomamos medidas adequadas para garantir a segurança das informações de voz coletadas e transmitidas pelo nosso aplicativo. Implementamos medidas técnicas e organizacionais para proteger seus dados contra acesso não autorizado, uso indevido, alteração ou divulgação não autorizada.</p>

    <h2>Alterações nesta Política de Privacidade</h2>

    <p>Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que você revise esta política com frequência para se manter informado sobre como lidamos com suas informações de voz.</p>

    <h2>Entre em Contato</h2>

    <p>Se você tiver alguma dúvida sobre nossa Política de Privacidade ou sobre o uso de suas informações de voz, entre em contato conosco pelo endereço de e-mail mateus.caf.aires@gmail.com</p>
</body>


